<h1>Book Details</h1>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  $<%= number_to_currency(@book.price, unit: "") %>
</p>

<p>
  <strong>Published Date:</strong>
  <%= @book.published_date %>
</p>

<p>
  <%= link_to "Back to Home", root_path %> |
  <%= link_to "Edit Book", edit_book_path(@book) %>
</p>
